<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XWing Tournament Web</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>
<body class="pt-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <div class="row">
                <button type="button" class="navbar-toggler pr-2" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("XWing Tournament", "Main", "Player", new { area = "" }, new { @class = "navbar-brand" })

            </div>

            @if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated) { 
                <div class="navbar-collapse collapse pl-3">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">@Html.ActionLink("Players", "Main", "Player", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Tournaments", "Main", "Tournament", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                </div>

                <div class="p-2 col d-flex justify-content-end align-content-start">
                    <button type="button" class="btn btn-secondary fas fa-sign-out-alt" onclick="LogoutOnClick();"></button>
                </div>
            }
        </div>
    </nav>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - XWing Tournament Web</p>
            <p>This tool is unofficial and is not affiliated with Fantasy Flight Games, Lucasfilm Ltd., or Disney.</p>
        </footer>
    </div>


    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        function LogoutOnClick() {
            $.ajax({
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                dataType: "json",
                type: "POST",
                url: "/Account/Logout",
                complete: function (data) {
                    location.reload();
                }
            });
        }

    </script>
</body>
</html>
