@model XWTWeb.Models.LoginPage

@using (Html.BeginForm("Index", "Account", FormMethod.Post, new { @id = "LoginForm" }))
{
    <div class="container jumbotron mt-2 pt-3">
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="row p-2">
                    <label class="col-12 font-weight-bold" style="font-size:x-large">Login</label>
                    @Html.TextBoxFor(model => model.LoginUser.UserName, new { @class = "col-12 form-control m-1", @placeholder = "User Name" })
                    <div class="w-100"></div>
                    @Html.PasswordFor(model => model.LoginUser.Password, new { @class = "col-12 form-control m-1", @placeholder = "Password" })
                    <div class="w-100"></div>
                    <button type="submit" class="btn btn-primary col" onclick="LoginOnClick();">Login</button>
                    @if (Model.LoginUser.LoginFails > 0)
                    {
                        <div class="w-100"></div>
                        <label class="text-danger col d-flex justify-content-center pt-3">Login failed</label>
                    }
                </div>
            </div>

            <div class="d-none d-md-block col-md-6"></div>

            <div class="col-12 col-md-3">
                <div class="row p-2">
                    <label class="col-12 font-weight-bold" style="font-size:x-large">Register</label>
                    @Html.TextBoxFor(model => model.RegisterUser.UserName, new { @class = "col-12 form-control m-1", @placeholder = "User Name" })
                    <div class="w-100"></div>
                    @Html.TextBoxFor(model => model.RegisterUser.Email, new { @type = "email", @class = "col-12 form-control m-1", @placeholder = "Email" })
                    <div class="w-100"></div>
                    @Html.PasswordFor(model => model.RegisterUser.Password, new { @class = "col-12 form-control m-1", @placeholder = "Password" })
                    <div class="w-100"></div>
                    <input id="RegisterUser_PasswordVerify" type="password" class="col-12 form-control m-1" placeholder="Re-Enter Password" />
                    <div class="w-100"></div>
                    <button type="submit" class="btn btn-secondary col" onclick="RegisterOnClick();">Register</button>
                </div>
            </div>

            <input type="hidden" id="submitCommand" name="submitCommand" value="" />
        </div>
    </div>
}


    <script type="text/javascript">

        $(function () {
            $("#submitCommand").val('');
        });

        //Add functionality to the "enter" key depending on which field is being focused on
        $("#LoginForm").keypress(function (e) {
            if (e.which == 13) {
                if (!$(document.activeElement)) {
                    e.preventDefault();
                    return false;
                }
                var focused = $(document.activeElement);
                if (focused.attr('id').startsWith('RegisterUser_')) {
                    return RegisterOnClick();
                }
                else {
                    return LoginOnClick();
                }
            }
        });

        function LoginOnClick() {
            $("#submitCommand").val('Login');
        }

        function RegisterOnClick() {
            $("#submitCommand").val('');

            if ($("#RegisterUser_Password").val() != $("#RegisterUser_PasswordVerify").val()) {
                bootbox.alert("The passwords entered do not match.");
                $("#RegisterUser_Password").val('');
                $("#RegisterUser_PasswordVerify").val('');
                return false;
            }

            if ($("#RegisterUser_Password").val() == '' || $("#RegisterUser_Email").val() == '' || $("#RegisterUser_PasswordVerify").val() == '') {
                bootbox.alert("Please enter values into all Registration fields before proceeding.");
                $("#RegisterUser_Password").val('');
                $("#RegisterUser_PasswordVerify").val('');
                return false;
            }
            $("#submitCommand").val('Register');
        }

    </script>


